*{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: darkslateblue;
    text-align: center;
    padding: 10pt;
}
a{
    margin: 80pt;
    color: whitesmoke;
    font-size: 15pt;
}
table{
    width: 80%;
}
th, td, tr{
    text-align: center;
}