*{
    font-family: Arial, Helvetica, sans-serif;
    background-color:bisque;
}
nav{
    background-color: darkorchid;
    text-align: center;
    padding: 10pt;
}
a{
    background-color: darkorchid;
    margin: 80pt;
    color: beige;
    font-size: 15pt;
}
table{
    width: 80%;
}
th, td, tr{
    text-align: center;
}
h1{
    background-color: whitesmoke;
}